body {
    background-color: rgb(51, 51, 51);
    ;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: clamp(0.625rem, 0.474rem + 1.21vw, 1.563rem);
    color: black;
    z-index: 30;
    background-color: white;
    border-bottom-width: 3.5px;
    border-bottom-color: rgb(223, 0, 0);
    border-bottom-style: solid;
}

a {
    text-decoration: none;
    color: black
}

.headerTitle {
    font-size: clamp(1.25rem, 0.0781rem + 3.75vw, 3.125rem);
}

.homeLink {
    text-decoration: underline;
    text-decoration-color: black;
}

.headerLinksContainer {
    display: flex;
    gap: clamp(0.313rem, -0.186rem + 1.596vw, 1.25rem);
    font-family: kanit-light;
}

.headerLogo {
    position: relative;
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;
}

.headerLogoContainer {
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;

}


.headerOrderLink {
    background-color: rgb(255, 58, 58);
    border-radius: 20px;
    border-color: rgb(255, 58, 58);
    padding-left: 10px;
    padding-right: 10px;
    font-family: kanit-light;
    color: white;
}

.headerOrderLink:hover {
    background-color: rgb(223, 0, 0);
    border-color: rgb(223, 0, 0);
    border-width: 7px;
    text-decoration: none;
}

.dragonSpanTitle {
    color: red;
}

.cartIcon {
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: auto;
    padding-top: 10px;
}

@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

/* MAIN CONTENT CSS */
.mainContentContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-direction: column;
}

.mainContentTitle {
    text-align: center;
    color: white;
    font-family: montserrat-bold;
    font-size: 50px;
}

/* CSS for the sub title */
.subTitle {
    color: rgb(255, 58, 58);
    font-family: montserrat-regular;
    text-align: center;
}

/* CSS for the vertical line down the middle of the page */
.verticalLine {
    background-color: rgb(223, 0, 0);
    width: 5px;
    margin-top: 50px;
    max-width: 5px;
    min-width: 5px;
}

/* CSS for the overall food container */
.foodContainersArea {
    display: flex;
    justify-content: space-evenly;
    padding-left: min(0) max(100px);
    padding-right: min(0) max(100px);
    padding-top: 30px;
}

/* CSS for the primary food container title */
.foodContainerTitle {
    color: white;
    font-family: montserrat-bold;
    text-align: center;
    width: 700px;
    max-width: 700px;
    min-width: 300px;
    height: 39px;
}

/* CSS for the primary food container sub title */
.foodContainerSubTitle {
    color: grey;
    font-family: montserrat-light;
    text-align: center;
    width: 700px;
    max-width: 700px;
    min-width: 300px;
    height: 23px;
}

/* CSS for the primary food container */
.foodContainers {
    display: flex;
    width: 700px;
    max-width: 700px;
    min-width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-content: flex-start;
}

/* CSS for the individual food containers */
.foodContainer {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    width: 250px;
    border-radius: 10px;
    gap: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* CSS for the food pictures */
.foodPicture {
    width: 100%;
    height: auto;
    border-bottom: 3px rgb(255, 58, 58) solid;

}

/* CSS for the food titles */
.foodTitle {
    text-align: center;
    color: white;
    font-family: montserrat-light;
    font-size: 25px;
    font-weight: bold;
}

/* CSS for the food text */
.foodText {
    text-align: left;
    color: rgb(255, 58, 58);
    font-size: 17px;
    font-family: montserrat-light;
}

/* ANIMATIONS AREA */
/* Animation class for when the food is selected  */
.selectAnimation {
    animation: selectContainerAnimation .15s;
    animation-fill-mode: forwards;
}

/* Animation for when the food is selected */
@keyframes selectContainerAnimation {
    0% {
        border-width: 2px;
        border-color: rgb(51, 51, 51);
        background-color: rgb(51, 51, 51);
    }

    100% {
        border-width: 2px;
        border-color: #659f38;
        background-color: #659f38;
    }
}

/* Animaion class for when the food is deselected */
.deselectAnimation {
    animation: deselectContainerAnimation .15s;
    animation-fill-mode: forwards;
}

/* Animation for when the food is deselected */
@keyframes deselectContainerAnimation {
    0% {
        background-color: #659f38;
        border-width: 2px;
        border-color: #659f38;
    }

    100% {
        background-color: rgb(51, 51, 51);
        border-width: 2px;
        border-color: rgb(51, 51, 51);
    }
}

/* Animation class for when the food text's container has been selected */
.foodTextSelectAnimation {
    animation: foodTextSelectContainerAnimation .15s;
    animation-fill-mode: forwards;
}

/* Animation for when the food text's container has been selected */
@keyframes foodTextSelectContainerAnimation {
    0% {
        color: rgb(255, 58, 58);
    }

    100% {
        color: white;
    }
}

/* Animation class for when the food text's container has been deselected */
.foodTextDeselectAnimation {
    animation: foodTextDeselectContainerAnimation .15s;
    animation-fill-mode: forwards;
}

/* Animation for when the food text's container has been deselected */
@keyframes foodTextDeselectContainerAnimation {
    0% {
        color: white;
    }

    100% {
        color: rgb(255, 58, 58);
    }
}

/* Fonts Area */
@font-face {
    font-family: montserrat-regular;
    src: url(../montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../montserrat/static/Montserrat-Light.ttf);
}

/* CSS FOR THE BUTTON CONTAINER */
.submitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* CSS FOR THE BUTTON */
.plateButton {
    font-size: 30px;
    font-family: kanit-light;
    width: 500px;
    height: 50px;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 58, 58);
    border-radius: 25px;
    border-width: 0px;
    margin: 5px;
}

.plateButton:hover {
    background-color: rgb(223, 0, 0);
    color: white;
}

.plateButton:active {
    color: white;
    color: rgba(255, 255, 255, 0);
}

.plateButton:disabled {
    /* background-color: rgb(223, 0, 0); */
    color: white;
}

.addToCartAnimationClass {
    animation: addToCartAnimation 1.25s;
    -webkit-animation: addToCartAnimation 1.25s;
}

@keyframes addToCartAnimation {
    0% {

        font-size: 0;
        width: 500px;
        background-color: rgb(223, 0, 0);
    }

    15% {

        font-size: 0;
        background-color: #7ac142;
    }

    25% {

        font-size: 0;
        background-color: #7ac142;
    }

    40% {

        width: 50px;
        font-size: 0;
        background-color: #7ac142;
    }

    75% {

        width: 50px;
        font-size: 0;
        background-color: #7ac142;
    }

    100% {

        font-size: 0;
        width: 500px;
        background-color: rgb(223, 0, 0);
    }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.1s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: none;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .1s ease-in-out .1s forwards, scale .1s ease-in-out .1s both;

}

.checkmark__check {
    /* transform-origin: 50% 50%; */
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.3s forwards;

}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

.buttonDisabled {
    cursor: not-allowed;
    background-color: grey;

}

.buttonDisabled:hover {
    background-color: rgb(82, 82, 82);
}

/* MEDIA QUERIES AREA */
@media only screen and (max-width: 780px) {
    .headerTitle {
        display: none;
    }
}

@media only screen and (max-width: 675px) {
    .headerTitle {
        display: none;
    }

    .foodContainersArea {
        flex-wrap: wrap;
    }
}

.selected {
    border-inline-width: 0px;
}