header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: clamp(0.625rem, 0.474rem + 1.21vw, 1.563rem);
    color: black;
    z-index: 30;
    background-color: white;
    border-bottom-width: 3.5px;
    border-bottom-color: rgb(223, 0, 0);
    border-bottom-style: solid;
}

a {
    text-decoration: none;
    color: black
}

.titleContainer{
    cursor: pointer;
}

.headerTitle {
    font-size: clamp(1.25rem, 0.0781rem + 3.75vw, 3.125rem);
}

.homeLink {
    text-decoration: underline;
    text-decoration-color: black;
}

.headerLinksContainer {
    display: flex;
    gap: clamp(0.313rem, -0.186rem + 1.596vw, 1.25rem);
    font-family: kanit-light;
}

.headerLogo {
    position: relative;
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;
}

.headerLogoContainer {
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;

}

.dragonSpanTitle {
    color: red;
}

.cartHeaderContainer {
    position: relative;
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
}

.cartIcon {
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: auto;
    padding-top: 10px;
}

.cartRedIcon {
    width: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    height: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    background-color: white;
    outline-color: rgb(255, 58, 58);
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -4px;
    border-radius: 50%;
    position: absolute;
    margin-left: clamp(1.75rem, 1.325rem + 1.811vw, 3.25rem);
}

.underlineText {
    text-decoration: underline;
    text-decoration-color: rgb(223, 0, 0);
    text-underline-offset: 6px;
}

.headerDropdown {
    display: none;
}

.dropdownContent {
    display: none;
}

footer {
    display: flex;
    background-color: white;
    border-top-width: 3.5px;
    border-top-color: rgb(223, 0, 0);
    border-top-style: solid;
    margin-top: 50px;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footerTitle{
    color: red;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

.footerCopyRight{
    margin-top: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5px;
    justify-content: center;
}

.footerIMG{
    width: 30px;
    height: 30px;
}

.horizontalCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.igLogo{
    display: flex;
    justify-content: center;
    padding-top:6px;
}

.fbLogo{
    display: flex;
    justify-content: center;
    padding-top:6px;
}

.twLogo{
    display: flex;
    justify-content: center;
    padding-top:6px;
}

.footerBox{
    text-align: center;
    width: 25%;
    height: auto;
}

@media only screen and (max-width: 780px) {
    .headerTitle {
        display: none;
        position: absolute;
    }

    .headerLogoContainer {
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .headerLinksContainer {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .cartHeaderContainer {
        width: 25%;
        display: flex;
        justify-content: center;
    }

    header {
        justify-content: center;
    }

    footer {
        font-size: clamp(1.2vh, 8rem, 1.5vh);
        padding: 4px;
        justify-content: space-between;
    }

    .footerIMG{
        width: 17px;
        height: 17px;
    }

    .cartIcon{
        width: clamp(2vh, 6rem, 4vh);
        height: clamp(2vh, 6rem, 4vh);
        padding: clamp(.17vh, 6rem, .34vh);
    }
}

@media only screen and (max-width: 500px) {
    .headerDropdown {
        font-size: clamp(1.25rem, 1.042rem + 1.667vw, 1.563rem);
        display: flex;
        justify-content: center;
        width: 40%;
        height: 59.75px;
        align-items: center;
        background-color: white;
        z-index: 5;
    }

    .headerLinksContainer {
        display: none;
    }

    .headerLogoContainer {
        width: 30%;
    }

    .cartHeaderContainer {
        width: 30%;
    }

    .dropdownContent {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transform: translateY(-20%);
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .horizontalLine {
        height: 1px;
        width: 115%;
        background-color: rgb(223, 0, 0);
    }

    .dropdownArrow {
        width: 9px;
        height: auto;
    }

    .homeLinkContainer {
        padding-left: 9px;
    }

    header {
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 30;
    }

    .cartIcon{
        width: clamp(2vh, 6rem, 4vh);
        height: clamp(2vh, 6rem, 4vh);
        padding: clamp(.17vh, 6rem, .34vh);
    }
}

.dropdownOpenAnimation {
    animation: dropdownOpen .25s;
    animation-fill-mode: forwards;
}

@keyframes dropdownOpen {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(80%)
    }
}

.dropdownCloseAnimation {
    animation: dropdownClose .25s;
    animation-fill-mode: forwards;
}

@keyframes dropdownClose {
    0% {
        transform: translateY(80%);
    }

    100% {
        transform: translateY(-20%)
    }
}

/* Arrow Animations */
.arrowOpenAnimation {
    animation: arrowOpen .25s;
    animation-fill-mode: forwards;
}

@keyframes arrowOpen {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg)
    }
}

.arrowCloseAnimation {
    animation: arrowClose .25s;
    animation-fill-mode: forwards;
}

@keyframes arrowClose {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg)
    }

    footer {
        font-size: clamp(0.8vh, 8rem, 1vh);
        padding: 2px;
        justify-content: space-between;
    }
}

