/* Changes the header */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: clamp(0.625rem, 0.474rem + 1.21vw, 1.563rem);
    color: black;
    z-index: 30;
    background-color: white;
    border-bottom-width: 3.5px;
    border-bottom-color: rgb(223, 0, 0);
    border-bottom-style: solid;
}
a {
    text-decoration: none;
    color: black
}
.titleContainer{
    cursor: pointer;
}
.headerTitle {
    font-size: clamp(1.25rem, 0.0781rem + 3.75vw, 3.125rem);
}
.homeLink {
    text-decoration: underline;
    text-decoration-color: black;
}
.headerLinksContainer {
    display: flex;
    gap: clamp(0.313rem, -0.186rem + 1.596vw, 1.25rem);
    font-family: kanit-light;
}
.headerLogo {
    position: relative;
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;
}
.headerLogoContainer {
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;

}
.dragonSpanTitle {
    color: red;
}
.cartHeaderContainer {
    position: relative;
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cartIcon {
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: auto;
}
.cartRedIcon {
    width: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    height: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    background-color: white;
    outline-color: rgb(255, 58, 58);
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -4px;
    border-radius: 50%;
    position: absolute;
    margin-left: clamp(2.188rem, 2.063rem + 1vw, 2.938rem);
    margin-top: clamp(-2.438rem, -2.156rem + -2.25vw, -4.125rem);
    display: none;
}
.underlineText {
    text-decoration: underline;
    text-decoration-color: rgb(223, 0, 0);
    text-underline-offset: 6px;
}
.headerDropdown {
    display: none;
}
.dropdownContent {
    display: none;
}

/* Chnages the footer */
footer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(24, 24, 24);
    margin-top: 50px;
    height: auto;
    justify-content: space-around;
    font-family: montserrat-regular;
    font-size: clamp(1vh, 8rem, 2vh);
    justify-content: space-between;
    color: white;
    padding-top: 10px;
}

footer a {
    color: white;
}

.footerTitle{
    font-weight: bold;
    font-size: 20px;
}

.footerCopyRight{
    margin-top: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5px;
}

.footerIMG{
    width: 30px;
    height: 30px;
    padding-right: 3px;
}

.horizontalCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.igLogo{
    padding-top:6px;
    padding-bottom: clamp(.4vh, 6rem, .8vh);
}
.fbLogo{
    padding-top:6px;
    padding-bottom: clamp(.4vh, 6rem, .8vh);
}
.twLogo{
    padding-top:6px;
    padding-bottom: clamp(.4vh, 6rem, .8vh);
}


/* 780 Media Query */
@media only screen and (max-width: 780px) {
    .headerTitle {
        display: none;
        position: absolute;
    }

    .headerLogoContainer {
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .headerLinksContainer {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .cartHeaderContainer {
        width: 25%;
        /* display: flex;
        justify-content: center; */
    }

    header {
        justify-content: center;
    }

    footer {
        font-size: clamp(1.2vh, 8rem, 1.5vh);
        padding: 4px;
        justify-content: space-between;
    }

    .footerIMG{
        width: 17px;
        height: 17px;
    }

    .cartIcon{
        width: clamp(2vh, 6rem, 4vh);
        height: clamp(2vh, 6rem, 4vh);
        padding: clamp(.17vh, 6rem, .34vh);
    }
}

/* 500 Media Query */
@media only screen and (max-width: 500px) {
    .headerDropdown {
        font-size: clamp(1.25rem, 1.042rem + 1.667vw, 1.563rem);
        display: flex;
        justify-content: center;
        width: 40%;
        height: 59.75px;
        align-items: center;
        background-color: white;
        z-index: 5;
    }

    .headerLinksContainer {
        display: none;
    }

    .headerLogoContainer {
        width: 30%;
    }
    .dropdownContent {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        transform: translateY(-20%);
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .horizontalLine {
        height: 1px;
        width: 115%;
        background-color: rgb(223, 0, 0);
    }

    .dropdownArrow {
        width: 9px;
        height: auto;
    }

    .homeLinkContainer {
        padding-left: 9px;
    }

    header {
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 30;
    }

    .cartIcon{
        width: clamp(2vh, 6rem, 4vh);
        height: clamp(2vh, 6rem, 4vh);
        padding: clamp(.17vh, 6rem, .34vh);
    }
}

/* header animations */
.dropdownOpenAnimation {
    animation: dropdownOpen .25s;
    animation-fill-mode: forwards;
    -webkit-animation: dropdownOpen .25s forwards;
}
@keyframes dropdownOpen {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(80%)
    }
}
.dropdownCloseAnimation {
    animation: dropdownClose .25s;
    animation-fill-mode: forwards;
    -webkit-animation: dropdownClose .25s forwards;
}
@keyframes dropdownClose {
    0% {
        transform: translateY(80%);
    }

    100% {
        transform: translateY(-20%)
    }
}

/* Arrow Animations */
.arrowOpenAnimation {
    animation: arrowOpen .25s;
    animation-fill-mode: forwards;
    -webkit-animation: arrowOpen .25s forwards;
}
@keyframes arrowOpen {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg)
    }
}
.arrowCloseAnimation {
    animation: arrowClose .25s;
    animation-fill-mode: forwards;
    -webkit-animation: arrowClose .25s forwards;
}
@keyframes arrowClose {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

/* 332 Media Query */
@media only screen and (max-width: 332px){
    footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footerCopyRight{
        justify-content: center;
    }
}


/* Fonts Area */
@font-face {
    font-family: montserrat-regular;
    src: url(./montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(./montserrat/static/Montserrat-Light.ttf);
}