header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: clamp(0.625rem, 0.474rem + 1.21vw, 1.563rem);
    color: black;
    z-index: 30;
    background-color: white;
    border-bottom-width: 3.5px;
    border-bottom-color: rgb(223, 0, 0);
    border-bottom-style: solid;
}

a {
    text-decoration: none;
    color: black
}

.headerTitle {
    font-size: clamp(1.25rem, 0.0781rem + 3.75vw, 3.125rem);
}

.homeLink {
    text-decoration: underline;
    text-decoration-color: black;
}

.headerLinksContainer {
    display: flex;
    gap: clamp(0.313rem, -0.186rem + 1.596vw, 1.25rem);
    font-family: kanit-light;
    display: none;
}

.headerLogo {
    position: relative;
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;
}

.headerLogoContainer {
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;

}

.dragonSpanTitle {
    color: red;
}

.cartHeaderContainer {
    position: relative;
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
}

.cartIcon {
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: auto;
    position: absolute;
}

.cartRedIcon {
    width: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    height: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    background-color: white;
    outline-color: rgb(255, 58, 58);
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -4px;
    border-radius: 50%;
    position: absolute;
    margin-left: clamp(1.75rem, 1.325rem + 1.811vw, 3.25rem);
}

.underlineText{
    text-decoration: underline;
    text-decoration-color: rgb(223, 0, 0);
    text-underline-offset: 6px;
}

@media only screen and (max-width: 780px) {
    .headerTitle {
        display: none;
    }
}

@media only screen and (orientation: portrait){

}

.dropdownOpenAnimation{
    animation: dropdownOpen .25s;
    animation-fill-mode: forwards;
}

@keyframes dropdownOpen {
    0%{

    }
    100%{
        
    }
}