/* new fonts */
@font-face {
    font-family: kanit-italic;
    src: url("./kanit/Kanit-Italic.ttf");
}

@font-face {
    font-family: kanit-regular;
    src: url(./kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(./kanit/Kanit-Light.ttf);
}

@font-face {
    font-family: kanit-bold;
    src: url("./kanit/Kanit-Bold.ttf");
}

/* general changers */
body {
    background-color: rgb(51, 51, 51);
}

* {
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 780px) {
    .headerTitle {
        display: none;
    }
}

/* page opening */
.opening {
    color: white;
    font-size: 30px;
    font-family: kanit-light;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(51, 51, 51, 1)), url("https://ihcbyclubwyndham.com/app/uploads/2020/10/AdobeStock_264005197-scaled.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: auto;
}
/* Holds The Title and the Order Now Button */
.openingTitleAndButtonContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    gap: 30px;
    backdrop-filter: blur(3px);
}
/* Title for the Website in the content area */
.openingText {
    font-weight: bolder;
    font-family: montserrat-regular;
    font-size: clamp(2.188rem, 1.719rem + 1.5vw, 3.125rem);
    margin-top: 210px;
    margin-right: 65px;
}
/* Button for the order page */
.startOrder {
    width: 300px;
    height: auto;
    font-family: kanit-regular;
    color: white;
    background-color: rgb(223, 0, 0);
    border-radius: 15px;
    font-size: 30px;
    border: 0px solid black;
    margin-right: 65px;
}
/* Container for the Plus section of the opening */
.plusIntroContainer {
    padding-left: 50px;
    padding-top: 50px;
}
/* Holds the text and the image for the Plus section of the opening */
.plusINTRO {
    display: flex;
    align-items: center;
    font-size: clamp(1.563rem, 0.938rem + 2vw, 2.813rem);
    color: white;
    margin-top: -50px;
    padding-bottom: 200px;
    margin-left: 0px;
}
/* Image for the Plus section */
.plusLOGO {
    width: clamp(6.25rem, 3.125rem + 10vw, 12.5rem);
    height: auto;
}
/* Text for the Plus section */
.plusIntroP {
    padding-left: 20px;
}
/* Makes Ji Long Plus red for the plus text section */
.redText {
    color: rgb(223, 0, 0);
    font-weight: bold;
}
/* Main content container for the stuff under the page opener */
.mainContentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
/* giftcard box */
.giftCardContainer {
    color: black;
    display: flex;
    font-size: 35px;
    height: 400px;
    width: 1200px;
    text-align: center;
}
/* Image for the giftcard box */
.giftCardImage {
    width: 630px;
    height: 400px;
}
/* Darker vertical line to the left */
.verticalLine1 {
    width: 14px;
    height: 400px;
    position: relative;
    background-color: rgb(223, 0, 0);
    z-index: 9;
}
/* Lighter vertical line to the right */
.verticalLine2 {
    width: 15px;
    height: 400px;
    position: relative;
    background-color: rgb(255, 58, 58);
    z-index: 9;
}

.giftTextContainer {
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: montserrat-bold;
    font-size: 44px;
    /* padding-left: 30px; */
    z-index: 10;
    color: white;
    display: flex;
    padding-left: 25px;
}

.giftTEXT {
    position: relative;
    width: 100%;
    line-height: 1.35;
}



/* plus box */
#plus {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 0%;
    margin-left: 5%;
    display: flex;
    font-size: 55px;
    justify-content: space-between;
    border-radius: 30px 0px 0px 30px;
    border: 0px solid black;
    height: 400px;
    width: 90%;
    text-align: center;
}

#plusIMG {
    height: 100%;
    width: auto;
    margin-right: 0px;
}

#plus a:hover {
    text-decoration: none;
}

#plusTEXT {
    display: flex;
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: kanit-regular;
}

#plusINTRO a:hover {
    text-decoration: none;
}

/* about box */
#about {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 0%;
    margin-left: 5%;
    display: flex;
    font-size: 35px;
    justify-content: space-between;
    border-radius: 0px 30px 30px 0px;
    border: 0px solid black;
    height: 400px;
    width: 90%;
    text-align: center;
}

#aboutTEXT {
    display: flex;
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: kanit-regular;
}

#aboutTITLE {
    font-family: kanit-regular;
    font-weight: bold;
    font-size: 45px;
    color: red;
}



.giftCardImage {
    width: 630px;
    height: 400px;
    object-fit: cover;
    object-position: 30% 0;
}



#giftALT {
    height: 100%;
    width: 480px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: kanit-italic;
    font-size: 48px;
}









/* Fonts Area */
@font-face {
    font-family: montserrat-regular;
    src: url(./montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(./montserrat/static/Montserrat-Light.ttf);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    /* .openingTitleAndButtonContainer{
        align-content: center;
        padding-left: 0px;
    }
    .startOrder{
        margin-right: 0px;
    }
    .plusIntroContainer{
        padding-left: 0px;
    } */
}