/* new fonts */
@font-face {
    font-family: kanit-italic;
    src: url("./kanit/Kanit-Italic.ttf");
}

@font-face {
    font-family: kanit-regular;
    src: url(./kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(./kanit/Kanit-Light.ttf);
}

@font-face {
    font-family: kanit-bold;
    src: url("./kanit/Kanit-Bold.ttf");
}

/* general changers */
body {
    background-color: rgb(51, 51, 51);
}

* {
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 780px) {
    .headerTitle {
        display: none;
    }
}

/* page opening */
.opening {
    color: white;
    font-size: 3.5rem;
    font-family: kanit-light;
    letter-spacing: 3.5px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(51, 51, 51, 1)), url("https://ihcbyclubwyndham.com/app/uploads/2020/10/AdobeStock_264005197-scaled.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: left; */
    width: 100%;
    height: 80vh;
}

.openingText {
    width: 40%;
    height: 80vh;
    font-family: montserrat-bold;
    font-weight: 400;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 110%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.7),
            0px 8px 13px rgba(0, 0, 0, 0.3),
            0px 18px 23px rgba(0, 0, 0, 0.3);
            
}


/* About Us */
.homeAboutContainer {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 50px 100px;
    font-family: montserrat-regular;
}

/* .homeAboutContainer>h1 {
    font-size: clamp(0.688rem, 0.37rem + 2.538vw, 2.75rem);
} */

.homeAboutContainer>p {
    text-align: center;
    font-size: clamp(0.688rem, 0.37rem + 2.538vw, 2.75rem);
    font-weight: 700;
}


/* Image for the Plus section */
.plusLOGO {
    width: clamp(6.25rem, 3.125rem + 10vw, 12.5rem);
    height: auto;
}

/* Text for the Plus section */
.plusIntroP {
    padding-left: 20px;
    font-family: montserrat-light;
    font-weight: 700;
    letter-spacing: -1px;
}

/* Makes Ji Long Plus red for the plus text section */
.redText {
    color: rgb(223, 0, 0);
    font-weight: bold;
}

/* Main content container for the stuff under the page opener */
.mainContentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

/* giftcard box */
.giftCardContainer {
    color: black;
    display: flex;
    font-size: 35px;
    height: clamp(6.25rem, 3.365rem + 23.077vw, 25rem);
    width: clamp(18.75rem, 10.096rem + 69.231vw, 75rem);
    text-align: center;
}

/* Image for the giftcard box */
.giftCardImage {
    width: clamp(9.844rem, 5.3rem + 36.346vw, 39.375rem);
    height: clamp(6.25rem, 3.365rem + 23.077vw, 25rem);
}

/* Darker vertical line to the left */
.verticalLine1 {
    width: clamp(0.234rem, 0.126rem + 0.865vw, 0.938rem);
    height: clamp(6.25rem, 3.365rem + 23.077vw, 25rem);
    position: relative;
    background-color: rgb(223, 0, 0);
    z-index: 9;
}

/* Lighter vertical line to the right */
.verticalLine2 {
    width: clamp(0.234rem, 0.126rem + 0.865vw, 0.938rem);
    height: clamp(6.25rem, 3.365rem + 23.077vw, 25rem);
    position: relative;
    background-color: rgb(255, 58, 58);
    z-index: 9;
}

.giftTextContainer {
    height: clamp(6.25rem, 3.365rem + 23.077vw, 25rem);
    width: clamp(7.813rem, 4.207rem + 28.846vw, 31.25rem);
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: montserrat-regular;
    font-weight: 700;

    font-size: clamp(0.688rem, 0.37rem + 2.538vw, 2.75rem);
    /* padding-left: 30px; */
    z-index: 10;
    color: white;
    display: flex;
    padding-left: clamp(0.313rem, -0.521rem + 6.667vw, 1.563rem);
}

.giftTEXT {
    position: relative;
    width: 100%;
    line-height: 1.35;
}

.plusContainer {
    padding-top: 30px;
}

.plusTextContainer {
    padding-right: clamp(0.313rem, -0.521rem + 6.667vw, 1.563rem);
}

/* plus box */
#plus {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 0%;
    margin-left: 5%;
    display: flex;
    font-size: 55px;
    justify-content: space-between;
    border-radius: 30px 0px 0px 30px;
    border: 0px solid black;
    height: 400px;
    width: 90%;
    text-align: center;
}

#plusIMG {
    height: 100%;
    width: auto;
    margin-right: 0px;
}

#plus a:hover {
    text-decoration: none;
}

#plusTEXT {
    display: flex;
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: kanit-regular;
}

#plusINTRO a:hover {
    text-decoration: none;
}

/* about box */
#about {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 0%;
    margin-left: 5%;
    display: flex;
    font-size: 35px;
    justify-content: space-between;
    border-radius: 0px 30px 30px 0px;
    border: 0px solid black;
    height: 400px;
    width: 90%;
    text-align: center;
}

#aboutTEXT {
    display: flex;
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: kanit-regular;
}

#aboutTITLE {
    font-family: kanit-regular;
    font-weight: bold;
    font-size: 45px;
    color: red;
    padding-top: clamp(2vh, 6rem, 3vh);
}

#giftALT {
    height: 100%;
    width: 480px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: kanit-italic;
    font-size: 48px;
}









/* Fonts Area */
@font-face {
    font-family: montserrat-regular;
    src: url(./montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(./montserrat/static/Montserrat-Light.ttf);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
    .openingTitleAndButtonContainer {
        align-content: center;
        padding-left: 0px;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        text-align: center;
    }

    .opening {
        background-position: right 30%;
    }

    .openingText {
        margin-right: 0;
        margin-left: 0;
    }

    .startOrder {
        margin-right: 0px;
    }

    .plusIntroContainer {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .giftTextContainer {
        padding-left: 0;
    }

    .giftCardContainer {
        width: 100%;
    }

    .plusTextContainer {
        padding-left: 0;
    }

    .openingText {
        font-size: clamp(2.5rem, 1.702rem + 2.553vw, 4rem);
    }
}

@media only screen and (max-width: 400px) {
    .plusINTRO {
        flex-direction: column-reverse;
    }

    .giftCardContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .giftCardImage {
        width: 70%;
        height: auto;
        border-bottom: 3px rgb(223, 0, 0) solid;
    }

    .verticalLine1 {
        display: none;
    }

    .verticalLine2 {
        display: none;
    }

    .giftTextContainer {
        width: 70%;
        height: auto;
        padding-top: 10px;
    }

    .openingText {
        text-align: center;
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 900px) {
    .openingText {
        width: 90%;
        padding: 0;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .opening {
        background-position: center;
    }
}

@media (max-width: 500px) {
    .homeAboutContainer {
        padding: 50px 50px 25px 50px;
    }
}