body {
    background-color: rgb(51, 51, 51);
    ;
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}
@media only screen and (max-width: 780px) {
    .headerTitle {
        display: none;
    }
}

.mainContentContainer{
    display: flex;
    justify-content: center;
}

.cartContainer{
    background-color: #f9f9f9;
    width: 1200px;
    max-width: 1200px;
    min-width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 95px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.verticalLine{
    width: 5px;
    background-color: rgb(223, 0, 0);
    height: 90%;
}

.cartItemsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    max-height: fit-content;
    min-height: 600px;
    font-size: 23px;
    font-family: montserrat-regular;
    width: 600px;
    max-width: 600px;
    min-width: 100px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.cartItems{
    box-shadow: 0 2px 4px 0 rgb(90 50 37 / 18%);
    background-color: white;
    height: 75px;
    width: 100%;
    font-size: 19px;
    line-height: 1.6;
    font-weight: 500;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartItemText{
    width: 475px;
    max-width: 475px;
    min-width: 25px;
}

.cartItemsClass{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.priceText{
    color: rgb(212, 0, 0);
    font-weight: 600;
}

.removeCartItem{
    width: 75px;
    height: 75px;
    background-color: rgb(255, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.removeCartItemSign{
    background-color: rgb(255, 156, 156);
    width: 50%;
    height: 9%;
    border-radius: 3px;
}
.cartItemsTitle{
    font-size: 32px;
    font-family: montserrat-bold;
    cursor: pointer;
}

.cartOrderMoreImage{
    width: 130px;
    height: auto;
    transform: skewX(-30deg)
}

.cartLine{
    width: 50px;
    height: 5px;
    margin: 2px;
    border-radius: 2.5px;
    background-color: black;
}

.cartCheckoutContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    font-size: 18px;
    font-family: montserrat-regular;
    width: 600px;
    max-width: 600px;
    min-width: 100px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.cartCheckoutTitle{
    font-size: 32px;
    font-family: montserrat-bold;
}

/* .removeCartAnimation{
    animation: removeCart 1s;
    animation-fill-mode: forwards;
}

@keyframes removeCart {
    0%{

    }
    100%{

    }
} */

.cartDiningButtonsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cartDinerButton{
    width: 125px;
    height: 125px;
    color: white;
    font-size: 22px;
    font-family: montserrat-bold;
    cursor: pointer;
    background-color: rgb(15, 196, 194);
    filter: invert(1);
    background-repeat: no-repeat;
}
.cartDinerTitle{
    margin-bottom: 70px;
    filter: invert(1);
}
.deliveryButton{
    background-image: url(../images/car.png);
    background-position: 30% 160%;
    background-size: 100px 100px;
}
.takeOutButton{
    background-image: url(../images/takeout.svg);
    background-position: 50% 160%;
    background-size: 95px 95px;
}
.dineInButton{
    background-image: url(../images/plateAndUtensils.svg);
    background-position: 50% 190%;
    background-size: 100px 100px;
}
/* Dining Choosing Buttons On Hover, which makes their color darker when hovered on */
.deliveryButton:hover {
    background-color: rgb(52, 255, 252);
}

.takeOutButton:hover {
    background-color: rgb(52, 255, 252);
}

.dineInButton:hover {
    background-color: rgb(52, 255, 252);
}
/* Determins what the buttons look like when one has been selected */
.selected{
    background-color: #853ebd;
}
.deselected{
    background-color: grey;
}

.selected:hover {
    background-color: #853ebd;
}

.deselected:hover {
    background-color: #853ebd;
}

.cartOrderMoreContainer{
    text-align: center;
}

@media only screen and (max-width: 670px) {
    .cartItems{
        font-size: clamp(0.313rem, -0.06rem + 2.979vw, 1.188rem);
    }
}

/* Fonts Area */
@font-face {
    font-family: montserrat-regular;
    src: url(../montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-light;
    src: url(../montserrat/static/Montserrat-Light.ttf);
}

.dropdownOpenAnimation {
    animation: dropdownOpen .25s;
    animation-fill-mode: forwards;
}

@keyframes dropdownOpen {
    0% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(70%)
    }
}

.dropdownCloseAnimation {
    animation: dropdownClose .25s;
    animation-fill-mode: forwards;
}

@keyframes dropdownClose {
    0% {
        transform: translateY(70%);
    }

    100% {
        transform: translateY(-30%)
    }
}
@media only screen and (max-width: 500px){
    .dropdownContent{
    transform: translateY(-30%);
    }
    .inputCOntainer{
        flex-direction: column;
    }
}



.checkoutFillContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
}

.deliveryInput{
    margin-left: 8px;
    padding-left: 5px;
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: montserrat-regular;
    outline-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: rgb(212, 0, 0) 2px solid;
    padding-bottom: 2px;
    background-color: #f9f9f9;
    
}

.deliveryLabel{
    padding-left: 5px;
}

.inputsContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.inputContainer{
    display: flex;
    align-items: center;
    width: 90%;
}

.nameInput{
    margin-left: 2px;
    padding-left: 5px;
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: montserrat-regular;
    outline-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: rgb(212, 0, 0) 2px solid;
    padding-bottom: 2px;
    background-color: #f9f9f9;
    width: 60%;
}

.nameInput:focus {
    outline-color: #f9f9f9;
    border-bottom: rgb(255, 58, 58) 3px solid;
    background-color: #f9f9f9;
}

.addressInput {
    margin-left: 8px;
    padding-left: 5px;
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: montserrat-regular;
    outline-color: rgb(223, 0, 0);
    outline-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: rgb(212, 0, 0) 2px solid;
    padding-bottom: 2px;
    background-color: #f9f9f9;
}

.addressInput:focus{
    outline-color: #f9f9f9;
    border-bottom: rgb(255, 58, 58) 3px solid;
    background-color: #f9f9f9;
}

.timeContainer{
    width: 60%;
    display: flex;
    margin-top: 30px;
}
.nowButton{
    width: 50%;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 0;
    background-color: rgba(255, 104, 104, 0.835);
    font-size: clamp(1.063rem, 0.762rem + 2.4vw, 1.438rem);
    color: white;
    cursor: pointer;
}
.laterButton{
    width: 50%;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    background-color: rgba(255, 104, 104, 0.835);
    font-size: clamp(1.063rem, 0.762rem + 2.4vw, 1.438rem);
    color: white;
    cursor: pointer;
}
.timeSelected{
    background-color: rgb(255, 58, 58);
}

.timeDeliveredContainer{
    padding-top: 17px;
}

.timeInput{
    width: 100px;
    font-family: montserrat-regular;
    outline-color: rgb(223, 0, 0);
    outline-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: rgb(212, 0, 0) 2px solid;
    padding-bottom: 2px;
    font-size: 18px;
    margin-left: 5px;
}

.redText{
    color: rgb(223, 0, 0)
}

.checkoutBox{
    margin-top: 25px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    font-family: montserrat-bold;
    border-top:rgb(255, 58, 58) 2px solid;
    padding-top: 10px;
    gap: 5px;
    
}
.checkTitle{
    width: 40%;
    text-align: left;
    padding-left: 5%;
}
.taxTitle{
    color: rgb(59, 59, 59);
    font-size: 18px;
}
.deliveryTitle{
    font-size: 17px;
}
.totalTitle{
    font-size: 21px;
    padding-top: 10px;
}
.checkPrice{
    width: 40%;
    text-align: right;
    font-family: montserrat-regular;
    padding-right: 5%;
}

.proceedButtonContainer{
    width: 70%;
    margin-top:  30px;
}
.proceedButton{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 58, 58);
    color: white;
    font-family: montserrat-bold;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.proceedButton:hover{
    background-color: rgb(255, 29, 29)
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
    .verticalLine {
        display: none;
    }
    .cartContainer{
        flex-direction: column;
        align-items: center;
    }
    .cartItemsContainer{
        height:fit-content;
        min-height: 300px;
        width: clamp(13.75rem, -4.167rem + 102.381vw, 40.625rem);
        padding-left: 0;
        padding-right: 0;
    }
    .cartCheckoutContainer{
        height: fit-content;
    }
    .cartItems{
        width: clamp(13.75rem, -0.771rem + 82.979vw, 38.125rem);
        height: clamp(1.739rem, -0.018rem + 10.038vw, 4.688rem);
        padding-left: 0px;
    }
    .cartItemsClass{
        width: clamp(13.75rem, -0.771rem + 82.979vw, 38.125rem);
    }
    .cartCheckoutContainer{
        width: clamp(13.75rem, -4.167rem + 102.381vw, 40.625rem);
        padding-left: 0;
        padding-right: 0;
    }
    .removeCartItem{
        height: clamp(1.739rem, -0.018rem + 10.038vw, 4.688rem);
    }
    .timeContainer{
        width: 90%;
    }
    .inputContainer{
        flex-direction: column;
    }
}