/* Utiliteies */
* {
  margin: 0px;
  padding: 0px;
  font-family: montserrat-regular;
}
@font-face {
  font-family: kanit-regular;
  src: url(../kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: kanit-light;
  src: url(../kanit/Kanit-Light.ttf);
}
@font-face {
  font-family: kanit-bold;
  src: url(../kanit/Kanit-Bold.ttf);
}
@font-face {
  font-family: montserrat-regular;
  src: url(../montserrat/static/Montserrat-Regular.ttf);
}
body {
  overflow-x: hidden;
}

/* Creates and modifies the code inside the center boxes */
/* .signup{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-family: kanit-regular;
}
.infoBoxes{
    background-color: white;
    width: clamp(85vh, 6rem, 100vh);
    padding: clamp(1vh, 6rem, 2vh);
}
h1 {
    text-align: center;
    font-family: kanit-regular;
}
body{
    background-color: rgb(51, 51, 51);
}
h4{
    text-decoration: underline;
    color: red;
} */

/* Modifies the button at the center of the page */
/* #btn{
    border: 0px solid black;
    border-radius: 20px;
    width: 150px;
    background-color: red;
    color: white;
    height: 50px;
    font-family: kanit-regular;
    font-weight: 500;
    font-size: 35px;
}
.btnCenter {
    display: flex;
    justify-content: center;
}
#passReqs{
    font-size: 10px;
    text-align: left;
}
#btn:hover{
    background-color: rgb(139, 0, 0);
}
.white{
    color: white;
} */

/* Creates and modifies the code inside the center boxes */
.infoBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: clamp(1vh, 6rem, 2vh);
  font-size: clamp(1.75vh, 6rem, 3.5vh);
  margin-left: clamp(1.5vh, 6rem, 3vh);
  margin-right: clamp(1.5vh, 6rem, 3vh);
  border-bottom: 2px solid red;
  padding-bottom: clamp(1vh, 6rem, 2vh);
}
h1 {
  text-align: center;
  font-family: kanit-regular;
}
body {
  background-color: rgb(51, 51, 51);
}
h4 {
  color: white;
  font-family: kanit-bold;
  font-size: clamp(2.25vh, 6rem, 4.5vh);
}
.infoBoxes > div {
  color: white;
  font-family: montserrat-regular;
  margin-left: clamp(1vh, 6rem, 2vh);
  margin-right: clamp(1vh, 6rem, 2vh);
}
.infoBoxes > img {
  padding: clamp(1vh, 6rem, 2vh);
  width: 300px;
  height: auto;
}
#specIMG {
  width: clamp(60vh, 6rem, 90vh);
  height: auto;
}

/* Modifies the button at the center of the page */
.btn {
  display: flex;
  justify-content: center;
  border: 0px solid black;
  border-radius: 20px;
  background-color: red;
  color: white;
  height: 50px;
  font-family: kanit-regular;
  font-size: clamp(2vh, 6rem, 4vh);
  width: clamp(40vh, 6rem, 80vh);
}
.btnCenter {
  display: flex;
  justify-content: center;
  padding-top: clamp(2vh, 6rem, 4vh);
}
.btn:hover {
  background-color: rgb(139, 0, 0);
}

/* 780 Media Query */
@media only screen and (max-width: 780px) {
  .infoBoxes {
    padding: clamp(1vh, 6rem, 2vh);
    font-size: clamp(1vh, 6rem, 2vh);
    margin-left: clamp(0.75vh, 6rem, 1.5vh);
    margin-right: clamp(0.55vh, 6rem, 1.5vh);
    border-bottom: 2px solid red;
    padding-bottom: clamp(1vh, 6rem, 2vh);
  }

  h4 {
    font-size: clamp(1.5vh, 6rem, 3vh);
  }

  #specIMG {
    width: clamp(30vh, 6rem, 45vh);
    height: auto;
  }
}
/* 500 Media Query */
@media only screen and (max-width: 500px) {
  .infoBoxes {
    padding: clamp(1vh, 6rem, 2vh);
    font-size: clamp(0.75vh, 6rem, 1.5vh);
    margin-left: clamp(0.75vh, 6rem, 1.5vh);
    margin-right: clamp(0.55vh, 6rem, 1.5vh);
    border-bottom: 2px solid red;
    padding-bottom: clamp(1vh, 6rem, 2vh);
    flex-direction: column;
  }

  .infoBoxes > img {
    width: clamp(24vh, 6rem, 48vh);
    height: auto;
    float: right;
  }

  .marginTop {
    padding-top: clamp(4vh, 6rem, 8vh);
  }

  h4 {
    font-size: clamp(1.5vh, 6rem, 3vh);
    text-align: center;
  }
  p {
    text-align: center;
  }

  #specIMG {
    width: clamp(25vh, 6rem, 35vh);
    height: auto;
  }
  .btnCenter {
    width: 100%;
  }
  a {
    width: 80%;
  }
  .btn {
    width: 100%;
    font-size: clamp(1.25rem, 0.313rem + 7.5vw, 2.188rem);
    display: flex;
    align-items: center;
  }
}
/* for the credits page */
ul {
  list-style: none;
  font-family: kanit-regular;
}
