* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

#signup {
    border: 0px solid black;
    margin: 0% 20% 5% 20%;
    text-align: center;
    font-family: kanit-regular;
    font-size: 20px;
    font-weight: 200;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 800px;
}

h1 {
    text-align: center;
    font-family: kanit-regular;
}

body{
    background-color: rgb(51, 51, 51);
}

#btn{
    border-radius:0%;
    width: 100%;
    background-color: red;
    height: 50px;
    font-family: kanit-regular;
    font-weight: 500;
    font-size: 35px;
}


#passReqs{
    font-size: 10px;
    text-align: left;
}

.infoBoxes{
    width:600px;
    text-align: left;
}

h4{
    text-decoration: underline;
    color: red;
}

#btn:hover{
    background-color: rgb(139, 0, 0);
}

.white{
    color: white;
}
