/* Header CSS */
body {
    background-color: rgb(51, 51, 51);
    ;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: clamp(0.625rem, 0.474rem + 1.21vw, 1.563rem);
    color: black;
    z-index: 30;
    background-color: white;
    border-bottom-width: 3.5px;
    border-bottom-color: rgb(223, 0, 0);
    border-bottom-style: solid;
}

a {
    text-decoration: none;
    color: black
}

.headerTitle {
    font-size: clamp(1.25rem, 0.0781rem + 3.75vw, 3.125rem);
}

.homeLink {
    text-decoration: underline;
    text-decoration-color: black;
}

.headerLinksContainer {
    display: flex;
    gap: clamp(0.313rem, -0.186rem + 1.596vw, 1.25rem);
    font-family: kanit-light;
}

.headerLogo {
    position: relative;
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;
}

.headerLogoContainer {
    width: clamp(3.125rem, 1.463rem + 5.319vw, 6.25rem);
    height: auto;

}


.headerOrderLink {
    background-color: rgb(255, 58, 58);
    border-radius: 20px;
    border-color: rgb(255, 58, 58);
    padding-left: 10px;
    padding-right: 10px;
    font-family: kanit-light;
    color: white;
}

.headerOrderLink:hover {
    background-color: rgb(223, 0, 0);
    border-color: rgb(223, 0, 0);
    border-width: 7px;
    text-decoration: none;
}

.dragonSpanTitle {
    color: red;
}

.cartHeaderContainer {
    position: relative;
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
}

.cartIcon {
    width: clamp(1.563rem, 1.31rem + 2.016vw, 3.125rem);
    height: auto;
    position: absolute;
}

.cartRedIcon {
    width: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    height: clamp(0.469rem, 0.393rem + 0.605vw, 0.938rem);
    background-color: white;
    outline-color: rgb(255, 58, 58);
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -4px;
    border-radius: 50%;
    position: absolute;
    margin-left: clamp(1.75rem, 1.325rem + 1.811vw, 3.25rem);
}

@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}
/* Rest of the page CSS after the header */
/* Main Content Container CSS */
.mainContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Title CSS */
.mainContentTitle{
    text-align: center;
    font-family: montserrat-bold;
    font-size: 50px;
    padding-top: 15px;
    color: white;
}
/* CSS for the sub title */
.subTitle{
    text-align: center;
    font-family: montserrat-light;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(255, 58, 58);
}
/* CSS for the container of the top row images */
.topRowImagesContainer{
    display: flex;
    align-items: flex-end;
    gap: 80px;
    margin-top: 30px;
    margin-left: 50px;
}
/* CSS for the picture of the bowl  */
.bowlPicture{
    height: 175px;
    width: auto;
    padding-bottom: 30px;
}
/* CSS for the picture of the plate */
.platePicture{
    width: 200px;
    height: auto;
    padding-bottom: 20px;
}
/* CSS for the picture of the platter */
.platterPicture{
    width: auto;
    height: 225px;
    padding-bottom: 10px;
}
/* CSS for the titles under the images options */
.optionsTitles{
    color: white;
    text-align: center;
    font-family: montserrat-regular;
    font-size: 30px;
    display: flex;
    align-items: center;
}
/* CSS for the plate title */
.plateTitle{
    padding-right: 10px;
}
/* CSS for the price text next to the food titles */
.priceText{
    font-size: 25px;
    color: rgb(255, 58, 58);
}
/* Options Sub Text */
.optionsSubText{
    font-family: montserrat-light;
}
.optionsSubTextContainer{
    margin-left: 20px;
}
li {
    color:rgb(255, 58, 58);
}
li span{
    color: white;
}
.bottomRowImagesContainer{
    display: flex;
    align-items: flex-end;
    gap: 80px;
}
/* CSS for the drink container */
.drinkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CSS for the picture of the drink */
.drinkPicture{
    height: 275px;
    width: auto;
}
/* CSS for the sides container */
.sidesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CSS for the picture of the egg rolls */
.sidesPicture{
    width: 230px;
    height: auto;
}

/* CSS for the arrow */
.arrowContainer{
    text-align: center;
}

.arrow {
    border: solid rgb(223, 0, 0);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
}
/* CSS that rotates the arrow into position */
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* Fonts Area */
@font-face {
    font-family: montserrat-regular;
    src: url(../montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(../montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-light;
    src: url(../montserrat/static/Montserrat-Light.ttf);
}