/* Header CSS */
body {
    background-color: rgb(51, 51, 51);
    ;
}

* {
    margin: 0px;
    padding: 0px;
}


@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}
/* Rest of the page CSS after the header */
/* Main Content Container CSS */
.mainContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Title CSS */
.mainContentTitle{
    text-align: center;
    font-family: montserrat-bold;
    font-size: 50px;
    padding-top: 15px;
    color: white;
}
/* CSS for the sub title */
.subTitle{
    text-align: center;
    font-family: montserrat-light;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(255, 58, 58);
}
/* CSS for the container of the top row images */
.topRowImagesContainer{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}
/* CSS for the picture of the bowl  */
.bowlPicture{
    height: 175px;
    width: auto;
    padding-bottom: 30px;
}
/* CSS for the picture of the plate */
.platePicture{
    width: 200px;
    height: auto;
    padding-bottom: 20px;
}
/* CSS for the picture of the platter */
.platterPicture{
    width: auto;
    height: 225px;
    padding-bottom: 10px;
}
/* CSS for the titles under the images options */
.optionsTitles{
    color: white;
    text-align: center;
    font-family: montserrat-regular;
    font-size: 30px;
    display: flex;
    align-items: center;
}
/* CSS for the plate title */
.plateTitle{
    padding-right: 10px;
}
/* CSS for the price text next to the food titles */
.priceText{
    font-size: 25px;
    color: rgb(255, 58, 58);
}
/* Options Sub Text */
.optionsSubText{
    font-family: montserrat-light;
}
.optionsSubTextContainer{
    margin-left: 20px;
}
li {
    color:rgb(255, 58, 58);
}
li span{
    color: white;
}
.bottomRowImagesContainer{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 125px;

}
/* CSS for the drink container */
.drinkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CSS for the picture of the drink */
.drinkPicture{
    height: 175px;
    width: auto;
}
/* CSS for the sides container */
.sidesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CSS for the picture of the egg rolls */
.sidesPicture{
    width: 200px;
    height: auto;
}

/* CSS for the arrow */
.arrowContainer{
    text-align: center;
}

.arrow {
    border: solid rgb(223, 0, 0);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
}
/* CSS that rotates the arrow into position */
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* Fonts Area */
@font-face {
    font-family: montserrat-regular;
    src: url(../montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(../montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-light;
    src: url(../montserrat/static/Montserrat-Light.ttf);
}

@media only screen and (max-width: 500px) {
    .mainContentTitle{
        font-size: 30px;
        padding-top: 85px;
    }
    .subTitle{
        font-size: 20px;
    }
    
    .bowlPicture{
        height: 100px;
        padding-bottom: 10px;
    }
    .platePicture{
        height: 100px;
        width: auto;
        padding-bottom: 10px;
    }
    .platterPicture{
        height: 100px;
        padding-bottom: 10px;
    }
    .optionsTitles{
        font-size: 20px;
        flex-direction: column;
    }
    .plateTitle{
        padding-left: 0;
    }
    .priceText{
        font-size: 20px;
    }
    .optionsSubText{
        font-size: 12px;
    }
    .dash{
        display: none;
    }
    .bowlContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .plateContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .platterContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .topRowImagesContainer{
        gap: 5px;
    }
    .drinkPicture{
        width: 75px;
        height: auto;
    }
    .sidesPicture{
        width: 125px;
        height: auto;
    }
    .bottomRowImagesContainer{
        gap: 5px;
    }
}