body {
    background-color: #333333;;
    background-image: url("https://ihcbyclubwyndham.com/app/uploads/2020/10/AdobeStock_264005197-scaled.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}
* {
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: 25px;
    color: black;
    z-index: 30;
    background-color: white;
    border-bottom-width: 3.5px;
    border-bottom-color: rgb(223, 0, 0);
    border-bottom-style: solid;
}
a {
    text-decoration: none;
    color: black
}
.homeLink {
    text-decoration: underline;
    text-decoration-color: black;
}
.headerLinksContainer {
    display: flex;
    gap: 20px;
    font-family: kanit-light;
}
.headerLogo {
    position:relative;
    height: 100px;
    width: auto;
}
.headerOrderLink {
    background-color: rgb(255, 58, 58);
    border-radius: 20px;
    border-color: rgb(255, 58, 58);
    padding-left: 10px;
    padding-right: 10px;
    font-family: kanit-light;
    color: white;
}

.headerOrderLink:hover {
    background-color: rgb(223, 0, 0);
    border-color: rgb(223, 0, 0);
    border-width: 7px;
    text-decoration: none;
}
.dragonSpanTitle {
    color: red;
}
@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

.center {
    text-align: center;
}

#location{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.locotext{
    font-size: 60px;
}
.addi{
    font-size: 40px;
}
ul{
    list-style: none;
    justify-content: start;
}
frame{
    justify-content: flex-end;
}
#order{
    background-color: red;
    color: black;
}

#plus{
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    font-size: 55px;
    justify-content: space-between;
    border-radius: 30px 0px 0px 30px;
    border: 0px solid black;
    height: 400px;
    width: 90%;
}

#plusIMG{
    height: 100%;
    width: auto;
    margin-right: 0px;
}
#plus a:hover{
    text-decoration: none;
}
#plusTEXT{
    display: flex;
    height: 100%;
    width: 500px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-family: kanit-regular;
}

#opening{
    margin-left: 6%;
    margin-top: 16%;
    color:white;
    font-size: 30px;
    font-weight: bold;
    font-family: kanit-bold;
}

@font-face {
    font-family: kanit-bold;
    src: url("../kanit/Kanit-Bold.ttf");
}

#startOrder {
    width: 25%;
    height: auto;
    font-family: kanit-regular;
    color: white;
    background-color: red;
    border-radius: 15px;
    font-size: 30px;
    margin-left: 10%;
    border: 0px solid black;
}

#startOrder:hover{
    cursor: pointer;
}

#plusINTRO{
    display: flex;
    align-items: center;
    font-size: 45px;
    color: white;
}

#plusINTRO a:hover{
    text-decoration: none;
}

#plusLOGO{
    width: 200px;
    height: 200px;
}

#plusIntroP{
    padding-left: 20px;
}
