body {
    background-color: rgb(51, 51, 51);
    text-align: left;
}
* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

#homePageBackground{
    width: 100%;
    height: auto;
    
}

body {
    font-family: kanit-light;
}

.signUp{
    border: 0px solid black;
    margin: 0% 20% 5% 20%;
    font-family: kanit-regular;
    font-size: 20px;
    font-weight: 200;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: left;
    width: 800px;
    padding: 20px;
}

.rewards{
    text-align: left;
}

.signBTN{
    width: 700px;
    height: 100px;
    background-color: red;
    color:white;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid red;
    font-family: kanit-regular;
}
.signBTN:hover {
    cursor: pointer;
}

h4{
    text-decoration: underline;
    color: red;
    text-align: left;
}

.flexCenter{
    display: flex;
    justify-content: center;
}