body {
    background-color: rgb(51, 51, 51);
    ;
}

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

.backArrowContainer {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.backArrowTitle {
    font-family: montserrat-light;
    color: rgb(255, 58, 58);
    font-size: 25px;
    font-weight: normal;
}

/* MAIN CONTENT CSS */
.mainContentContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-direction: column;
}

.mainContentTitle {
    text-align: center;
    color: white;
    font-family: montserrat-bold;
    font-size: 50px;
}

.drinksContainer{
    padding-left: 77px;
    padding-right: 77px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.drinkContainer{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drinkTitle{
    color: white;
    font-family: montserrat-light;
    font-size: 30px;
    font-weight: bold;
}

.drinkImage{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-bottom: 3px rgb(255, 58, 58) solid;
    margin-bottom: 5px;
}

.quantitySizeContainer{
    display: flex;
    gap: 0;
    margin-bottom: 5px;
    width: 250px;
    justify-content: space-between;
    margin-top: 4px;
}

.sizeContainer{
    display: flex;
}

.sizeButton{
    width: 65px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(174, 174, 174);
    color: white;
    border: 0;
    border-right: 1px rgb(51, 51, 51) solid;
    cursor: pointer;
}

.selected{
    background-color: #7ac142;
}

select{
    width: 125px;
    height: 38px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    font-size: 18px;
    font-family: montserrat-regular;
    text-align: center;
}

option:hover{
    background-color: rgb(255, 58, 58);
}

.quantityContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: montserrat-light;
    font-size: 40px;
    width: 112px;
    border: 2px white solid;
    border-radius: 21.6px;
    height: 35px;
    overflow: hidden;
}

.quantityButton{
    cursor: pointer;
}

.lessQuantityButton{
    padding-bottom: 4px;
    color: grey;
    position: relative;
}
.quantity{
    width: 31px;
    height: 31px;
    background-color: rgb(255, 58, 58);
    border-radius: 15.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-weight: 600;
    overflow: hidden;
}

.addToCartButton {
    font-size: 21px;
    font-family: kanit-light;
    width: 105%;
    height: 35px;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 58, 58);
    border-radius: 17.5px;
    border-width: 0px;
    /* margin: 5px; */
    cursor: pointer;
    margin-top: 6px;
}

.addToCartButton:hover {
    background-color: rgb(223, 0, 0);
    color: white;
}

.addToCartButton:active {
    color: white;
    color: rgba(255, 255, 255, 0);
}

.addToCartButton:disabled {
    background-color: rgb(223, 0, 0);
    color: white;
}

.addToCartAnimationClass {
    animation: addToCartAnimation 1.25s;
    -webkit-animation: addToCartAnimation 1.25s;
}

@keyframes addToCartAnimation {
    0% {
        font-size: 0;
        width: 100%;
        background-color: rgb(223, 0, 0);
    }

    15% {
        font-size: 0;
        background-color: #7ac142;
    }

    25% {
        font-size: 0;
        background-color: #7ac142;
    }

    40% {
        width: 35px;
        font-size: 0;
        background-color: #7ac142;
    }

    75% {
        width: 35px;
        font-size: 0;
        background-color: #7ac142;
    }

    100% {
        font-size: 0;
        width: 100%;
        background-color: rgb(223, 0, 0);
    }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.1s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: none;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .1s ease-in-out .1s forwards, scale .1s ease-in-out .1s both;

}

.checkmark__check {
    /* transform-origin: 50% 50%; */
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.3s forwards;

}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

@media only screen and (max-width: 500px) {
    .backArrowContainer {
        padding-top: 75px;
        width: 100%;

        justify-content: center;
        padding-left: 0;
    }

    .backArrowTitle {
        font-size: 20px;
    }
}