/* Utiliteies */
* {
    margin: 0px;
    padding: 0px;
    font-family: kanit-regular;
}
@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

/* Creates and modifies the code inside the center boxes */
.signup{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-family: kanit-regular;
}
.infoBoxes{
    background-color: white;
    width: clamp(100vh, 6rem, 150vh);
    padding: clamp(1vh, 6rem, 2vh);
}
h1 {
    text-align: center;
    font-family: kanit-regular;
}
body{
    background-color: rgb(51, 51, 51);
}
h4{
    text-decoration: underline;
    color: red;
}

/* Modifies the button at the center of the page */
#btn{
    border: 0px solid black;
    border-radius: 20px;
    width: 150px;
    background-color: red;
    color: white;
    height: 50px;
    font-family: kanit-regular;
    font-weight: 500;
    font-size: 35px;
}
.btnCenter {
    display: flex;
    justify-content: center;
}
#passReqs{
    font-size: 10px;
    text-align: left;
}
#btn:hover{
    background-color: rgb(139, 0, 0);
}
.white{
    color: white;
}

/* Creates and modifies the code inside the center boxes */
.signup{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: left;
    font-family: kanit-regular;
    margin-left: clamp(2vh, 6rem, 4vh);
}
.infoBoxes{
    width: clamp(70vh, 6rem, 85vh);
    padding: clamp(1vh, 6rem, 2vh);
    font-size: clamp(2vh, 6rem, 4vh);
    padding-left: clamp(2.5vh, 6rem, 5vh);
}
h1 {
    text-align: center;
    font-family: kanit-regular;
}
body{
    background-color: rgb(51, 51, 51);
}
h4{
    text-decoration: underline;
    color: red;
}

/* Modifies the button at the center of the page */
#btn{
    border: 0px solid black;
    border-radius: 20px;
    width: 150px;
    background-color: red;
    color: white;
    height: 50px;
    font-family: kanit-regular;
    font-weight: 500;
    font-size: 35px;
}
.btnCenter {
    display: flex;
    justify-content: center;
}
#passReqs{
    font-size: 10px;
    text-align: left;
}
#btn:hover{
    background-color: rgb(139, 0, 0);
}
.white{
    color: white;
    padding: clamp(2vh, 6rem, 4vh);
}

/* 780 Media Query */
@media only screen and (max-width: 780px){
    .infoBoxes{
        background-color: white;
        width: clamp(50vh, 6rem, 60vh);
        padding: clamp(0.5vh, 6rem, 1vh);
    }

    h1{
        font-size: clamp(1vh, 6rem, 2vh);
        margin-left: clamp(3vh, 6rem, 6vh);
        margin-right: clamp(3vh, 6rem, 6vh);
        padding-top: clamp(1vh, 6rem, 2vh);
        margin-bottom: clamp(1vh, 6rem, 2vh);
    }
}
/* 500 Media Query */
@media only screen and (max-width: 500px){
    .infoBoxes{
        background-color: white;
        width: clamp(40vh, 6rem, 60vh);
        font-size: clamp(1.5vh, 6rem, 2vh);
    }

    h1{
        font-size: clamp(1vh, 6rem, 2vh);
        margin-left: clamp(3vh, 6rem, 6vh);
        margin-right: clamp(3vh, 6rem, 6vh);
        padding-top: clamp(4vh, 6rem, 8vh);
        margin-bottom: clamp(1vh, 6rem, 2vh);
    }
}