* {
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: 25px;
    color: black;
    background-color: white;
    width: 100%;
    border-bottom-width: 3.5px;
    border-bottom-color: rgb(223, 0, 0);
    border-bottom-style: solid;
}
body{
    background-color: #dde0e0;
}
a {
    text-decoration: none;
    color: black
}
a:hover {
    text-decoration: underline;
}
.atPageLink {
    text-decoration: underline;
}
.headerLinksContainer {
    display: flex;
    gap: 20px;
    font-family: kanit-light;
}
.headerLogo {
    position:relative;
    height: 100px;
    width: auto;
}
.headerOrderLink {
    background-color: rgb(255, 58, 58);
    border-radius: 20px;
    border-color: rgb(255, 58, 58);
    padding-left: 10px;
    padding-right: 10px;
    font-family: kanit-light;
    color: white;
}
.headerOrderLink:hover{
    background-color: rgb(223, 0, 0);
    border-color: rgb(223, 0, 0);
    border-width: 7px;
    text-decoration: none;
}
.dragonSpanTitle {
    color: red;
}
@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

.foodTypes {
    display: flex;
    align-self: center;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

.foodContainers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 20px;
    height: auto;
    width: 250px;
    max-width: width;
    min-width: 250px;
    background-color: white;
    background-image: url("../images/informationIcon.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left 220px top 5px;
}
#appetizersContainer{
    overflow: auto;
    display: flex;
}
#entreesContainer{
    overflow: auto;
    display: flex;
}
 #sidesContainer{
    overflow-x: scroll;
    display: flex;
 }
.foodContainerTitle{
    font-size: 25px;
    font-family: kanit-light;
    font-weight: bold;
}
.foodContainerPicture{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    z-index: 2;
}
/* .informationImageContainer{
    position: absolute;
}
.informationImage{
    position: relative;
    width: 25px;
    height: auto;
    left: 0px;
    bottom: 100px;
    z-index: 1;
} */

/* Add to Cart Button CSS & Animation */
button{
    font-size: 20px;
    font-family: kanit-light;
    width: 100%;
    height: 30px;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color:rgb(255, 58, 58);
    border-radius: 1px;
    border-width: 0px;
    margin: 5px;
}
.foodContainers button:hover{
    background-color:rgb(223, 0, 0);
    color: white;
}

.foodContainers button:active {
    color: white;
    color: rgba(255, 255, 255, 0);
}

.foodContainers button:disabled {
    background-color: rgb(223, 0, 0);
    color: white;
}

.addToCartAnimationClass{
    animation: addToCartAnimation 1.25s;
    -webkit-animation: addToCartAnimation 1.25s;
}

@keyframes addToCartAnimation {
    0%{
        border-radius: 1px;
        font-size: 0;
        width: 100%;
        background-color: rgb(223, 0, 0);
    }
    15%{
        border-radius: 15px;
        font-size: 0;
        background-color: #7ac142;
    }
    25%{
        border-radius: 15px;
        font-size: 0;
        background-color: #7ac142;
    }
    40%{
        border-radius: 15px;
        width: 30px;
        font-size: 0;
        background-color: #7ac142;
    }
    75%{
        border-radius: 15px;
        width: 30px;
        font-size: 0;
        background-color: #7ac142;
    }
    100%{
        border-radius: 1px;
        font-size: 0;
        width: 100%;
        background-color: rgb(223, 0, 0);
    }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.1s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: none;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .1s ease-in-out .1s forwards, scale .1s ease-in-out .1s both;

}

.checkmark__check {
    /* transform-origin: 50% 50%; */
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.3s forwards;

}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

/*The Food Names at the top of each food box */
.foodTitles {
    font-size: 50px;
    text-align: center;
    width: 240px;
}
/* Horizontal Line seperating the different types of foods */
hr {
    color: black;
    border: 1px solid black;
}

.addCart {
    display: flex;
    align-items: center;
    width: 220px;
    border-radius: 0px;
    border: 0px solid black;
    color: white;
    background-color: red;
    text-align: center;
}

.cartIcon{
    width: 35px;
    height: auto;
    float: right;
    margin-right: 10px;
}
.cartNotification{
    pointer-events: none;
    width: 0px;
    height: 0px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    transition: 0.1s;
}
.cartNotification p{
    font-size: 8px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: kanit-bold;
}

/* CART MENU AREA */
.cartMenuContainer{
    height: 100%;
    width: 250px;
    margin-right: -100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
    display: none;
}
.cartMenuContainer h2{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}



@font-face {
    font-family: inter-regular;
    src: url(../inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: inter-regular;
    src: url(../inter/static/Inter-Bold.ttf);
}

.foodContainerPicture:hover{
    width: 120%;
    height: 120%;
    z-index: 30;
}