/* Utilites */
* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}
body{
    background-color: rgb(51, 51, 51);
}


/* Modifies the page's main box */
.signup {
    border: 0px solid black;
    text-align: center;
    font-family: kanit-regular;
    font-size: 20px;
    font-weight: 200;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 800px;
}
.signupBox{
    display: flex;
    justify-content: center;
}
#passReqs{
    font-size: 10px;
    text-align: left;
}
.infoBoxes{
    width:600px;
    text-align: left;
    padding: 10px 0 10px 0;
}

h4{
    text-decoration: underline;
    color: red;
}
.purchase{
    padding-top: 10px;
}


/* Modifies the pages' titles */
h1 {
    text-align: center;
    font-family: kanit-regular;
}
.buyTitle{
    font-family: kanit-regular;
    font-size: 25px;
}
.purchaseTitle{
    font-family: kanit-regular;
    font-size: 25px;
}

/* Modifies the page's button */
#buyBTN{
    width: 200px;
    height: 100px;
    background-color: red;
    color:white;
    border: 0px solid black;
    border-radius: 20px;
}
#buyBTN:hover{
    background-color:rgb(156, 0, 0);
}
.pageTitle{
    color: white;
    text-align: center;
    width: 800px;
}
.centerTitle{
    display: flex;
    justify-content: center;
}

/* 780 Media Query */
@media only screen and (max-width: 780px){
    *{
        overflow-x: hidden;
    }

    h1{
        font-size: clamp(1vh, 6rem, 2vh);
        margin-left: clamp(3vh, 6rem, 6vh);
        margin-right: clamp(3vh, 6rem, 6vh);
        margin-top: clamp(1vh, 6rem, 2vh);
        margin-bottom: clamp(1vh, 6rem, 2vh);
    }

    .infoBoxes{
        width: clamp(40vh, 6rem, 60vh);
    }

    .signup{
        width: clamp(50vh, 6rem, 60vh);
        font-size: clamp(1.5vh, 6rem, 2vh);
    }

    i{
        font-size: clamp(0.2vh, 6rem, .7vh);
    }

    #buyBTN{
        width: clamp(20vh, 6rem, 30vh);
        height: clamp(10vh, 6rem, 15vh);
        margin-top: clamp(1vh, 6rem, 2vh);
    }
}

/* 500 Media */
@media only screen and (max-width: 500px){
    *{
        overflow-x: hidden;
    }

    h1{
        font-size: clamp(1vh, 6rem, 2vh);
        margin-left: clamp(3vh, 6rem, 6vh);
        margin-right: clamp(3vh, 6rem, 6vh);
        padding-top: clamp(3vh, 6rem, 6vh);
        margin-bottom: clamp(1vh, 6rem, 2vh);
    }

    .infoBoxes{
        width: clamp(30vh, 6rem, 45vh);
    }

    .signup{
        width: clamp(40vh, 6rem, 60vh);
        font-size: clamp(1.5vh, 6rem, 2vh);
    }

    i{
        font-size: clamp(0.2vh, 6rem, .7vh);
    }

    #buyBTN{
        width: clamp(20vh, 6rem, 30vh);
        height: clamp(10vh, 6rem, 15vh);
        margin-top: clamp(1vh, 6rem, 2vh);
    }
}