* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: kanit-regular;
    font-size: 25px;
    color: black;
    z-index: 30;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: underline;
}

.homeLink {
    text-decoration: underline;
    text-decoration-color: black;
}

.headerLinksContainer {
    display: flex;
    gap: 20px;
    font-family: kanit-light;
}

.headerLogo {
    position: relative;
    height: 100px;
    width: auto;
}

.headerOrderLink {
    background-color: rgb(255, 58, 58);
    border-radius: 20px;
    border-color: rgb(255, 58, 58);
    padding-left: 10px;
    padding-right: 10px;
    font-family: kanit-light;
    color: white;
}

.headerOrderLink:hover {
    background-color: rgb(223, 0, 0);
    border-color: rgb(223, 0, 0);
    border-width: 7px;
    text-decoration: none;
}

.dragonSpanTitle {
    color: red;
}

@font-face {
    font-family: kanit-regular;
    src: url(../kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: kanit-light;
    src: url(../kanit/Kanit-Light.ttf);
}

#signup {
    border: 5px solid black;
    margin: 0% 20% 5% 20%;
    text-align: center;
    font-family: kanit-regular;
    font-size: 20px;
    font-weight: 200;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 800px;
}

h1 {
    text-align: center;
    font-family: kanit-regular;
}

body{
    background-color: #FFFFFF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa2f2f' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c61210' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a32d2d' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c01d1b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239c2b2b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b92624' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23952828' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b22d2c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%238f2626' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa3333' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23882424' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

#passReqs{
    font-size: 10px;
    text-align: left;
}

.infoBoxes{
    width:600px;
    text-align: left;
}

h4{
    text-decoration: underline;
    color: red;
}

#buyBTN{
    width: 200px;
    height: 100px;
    background-color: red;
    color:black;
}

#buyBTN:hover{
    background-color:rgb(156, 0, 0);
}

.buyTitle{
    font-family: kanit-regular;
    font-size: 25px;
}

.purchaseTitle{
    font-family: kanit-regular;
    font-size: 25px;
}